.header{
    margin-top: 20px;   
}
body{
background-color: black;
}
.header-link, .wrapper-job , .wrapper-title{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    text-align: center;
    color: #FFAB1F;
}
.header-btn{
color: white;
font-weight:700;
background-color:#FFAB1F;
border-radius: 20px;
padding: 5px 20px;
border:2px solid black;
}
.header-btn:hover{
    color: #FFAB1F;
    background-color: white;
    border: 2px solid #FFAB1F;
    font-weight: 600;
    transition: 0.3s;
}
.header-link{
    border:1px solid black;
}
.header-link:hover{
    transition: 0.3s;
    border: 1px solid #FFAB1F;
    color: #FFAB1F;
    background-color: white;
    padding: 5px 20px;
}
.header-title{
    color: #FFAB1F;
}
.wrapper , .sidebar{
    margin-top: 100px;
margin-bottom: 80px;
}
.wrapper{
    background-image: url("/assets/img/BulletPoints.png"),url("/assets/img/BulletPoints.png");
    background-repeat: no-repeat;
    background-size: 20%,20%;
    background-position: top 60% left 50%, top 80% left 10%;   
}
.wrapper-avatar{
    width: 400px;
    height: 400px;
    border-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.wrapper-picture{
     display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-text, .wrapper-title , .wrapper-job{
    font-size: 40px;
    font-weight: 600;
    color:white;
}
.wrapper-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.wrapper-about{
    color:#ACACBF;
}
.sidebar-part{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    border:1px solid rgb(218, 218, 218);
    border-radius:10px;
    padding: 15px;
}
.sidebar-true{
    background-color: #FFAB1F;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    color: white;
}

.card{
    width: 25%;
    color: #FFAB1F;
    border: 1px solid #FFAB1F;
    padding: 20px 25px;
}
.sidebar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card:hover{
    background-color: #FFAB1F;
    color: white;
    padding: 20px;
    transition: 0.3s;
}
.sidebar-title{
    margin-bottom: 20px;
}
.sidebar {
    /* background-image: url("/assets/img/Dots.png"),url("/assets/img/Dots.png"); */
    background-repeat: no-repeat;
    background-size: contain 20%, contain 20%;
    background-position: bottom 0% left 0%, bottom 0% left 35%;
    padding-bottom: 80px;
}
.dot{
width: 10px;
height: 10px;
background-color: #FFAB1F;
border-radius: 50%;
}
/* .box-picture{
    width: 375px;
    height: 400px;
    background-color: #FFAB1F;
    border-radius: 70% 8% 70% 7%;
}
.box-avatar{
    margin-top: 20px;
    margin-left: 20px;
    width: 320px;
    height: 360px;
    border-radius: 0% 0% 70% 70%;
    border-radius:50%;
} */
.box-avatar{
    border-radius: 0% 0% 50% 50%;
}
.box{
    padding-bottom: 50px;
}
.button-groups{
    display:flex;
justify-content:center;
align-items: center;
margin-top: 50px;
align-items: center;
}
.box-btn{
    background-color: black;
    border: none;
    border: 1px solid black;
}
.box-btn .dot{
    margin:0px 20px;
}
.box-btn:hover {
    
    border:1px solid #FFAB1F;
}
.blok .container .row{
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.blok-title{
    text-align: center;
    margin: 30px 0px;
    border: 2px solid black;
}
.blok-title:hover , .blok-info:hover{
    color: #FFAB1F;
    transition: 0.3s;
    border: 2px solid #FFAB1F;
}
 .blok-info{
    padding: 20px;
    text-align: justify;
    letter-spacing: 1.2px;
    border: 2px solid black;
}
.box, .aside, .blok{
    padding:100px 0px;
}
.blok{
    background-image: url("/assets/img/BulletPoints.png"),url("/assets/img/Path\ 1\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 10%,15%;
    background-position: top 100% left 0%, top 125% left 105%;
}
.skill-item{
    position: relative;
    width: 80%;
    margin-bottom: 10px;
    
}
.aside{
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
}
.prosent{
padding:5px 0px;
    position: absolute;
    top: 50%;
    background-color: #FFAB1F;
    transform: translateY(-50%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -1;
}
.aside-title{
font-size: 30px;
}
.aside-text{
    margin: 30px 0px;
}

.aside-item{
    background-color: white;
    color: #FFAB1F;
    border: 2px solid #FFF;
    padding: 10px;

}

.css, .bootstrap, .camera{
    margin-left: 150px;
}

.row .aside-item .fab, .fas{
 font-size: 50px;
}